/* HEADER------------------------------------------------------- */

.bg_proprio_nav_propio {
    background-color: map-get($map:$colores , $key:prin );
  }
  /* Texto a color del nav */
  .text_color_nav_propio a {
    text-decoration: none;
    color: white;
  }

  .title_main_propio {
    margin-bottom: 50px;
  }
